{% extends "base.html" %}

{% block head %}

    <title>About Me</title>

    <style>
        /* Three columns side by side */
        body{
            zoom: 80%;
        }
        .column {
        float: center;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
        padding-top: 60px;
        }

        /* Display the columns below each other instead of side by side on small screens */
        @media screen and (max-width: 650px) {
        .column {
            width: 100%;
            display: block;            
        }
        }

        /* Add some shadows to create a card effect */
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 350px;
            margin: auto;
            text-align: center;
            
        }

        /* Some left and right padding inside the container */
        .container {
        padding: 0 16px;
        }

        /* Clear floats */
        .container::after, .row::after {
        content: "";
        clear: both;
        display: flex;
        justify-content: center;
        }
        .row {
            justify-content: center;
        }
        .title {
            color: grey;
            font-size: 18px;
        }
        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

        .button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        .button:hover {
        background-color: #555;
        }
    </style>
{% endblock %}

{% block content %}
<br>
<h1>The Team</h1>

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="row">
    <div class="column">
      <div class="card">
        <img src="https://sun9-59.userapi.com/impg/q9Na97oFh1HeLJUIXeNkSl4uq1oZnHXupHMk8w/p5RUHpzbRlw.jpg?size=600x800&quality=95&sign=462889c9112ec66182ab1d817650dae3&type=album" alt="Evgeni" style="width:100%">
        <div class="container">
          <h2>Evgeni Gavrilovi</h2>
          <p class="title">Georgia</p>
          <p>პროგრამისტი</p>
          <a href="http://vk.com/ejeng" target="_blank"><i class="fa fa-linkedin"></i></a>
          <p> <a href="mailto:gavrilovi@gmail.com"><button class="button">Contact</button></a></p>
        </div>
      </div>
    </div>
</div>
{% endblock %}
